@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .markdown-image-50 img {
    max-width: 50%;
    marge: auto;
    }
}

.page-layout {
    min-height: calc(100vh - 232px);
}

.prose pre {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.4em;
    padding-left: 0.4em;
  }

.custom-prose {
    max-width: 100%;
}

.tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s ease-out;
    opacity: 1;
    visibility: visible;
    white-space: nowrap;
    width: auto;
  }
  
  .tooltip-hidden {
    transform: translateX(-50%) scale(0.9);
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    width: auto;
  }
